@font-face {
  font-family: determination;
  src: url("determination.otf");
}

body {
  color: white;
  font-family: determination;
  background-image: url("rudebuster.gif");
  background-size: 250px;
}
